.header__wrapper {
    width: 1156px;
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.header__logobox {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header__logoimg {
    width: 60px;
    height: 60px;
}

.header__logotext {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #000;
    
}

.header__nav {
    display: flex;
    gap: 50px;
    text-align: center;
}

.header__navitem {
    text-decoration: none;
    color: #000;
}

.header__enterbtn {
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    cursor: pointer;
}

.header__enterbtn::after {
    position: absolute;
    content: "";
    display: block;
    top: 100%;
    z-index: 1;
    background-color: #8BDDE3;
    width: 100%;
    height: 5px;
    border-radius: 2px;
}

/* 1156-1000 */
@media (max-width: 1156px) {
    .header__wrapper {
        width: 100%;
    }
}

.lk_link {
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}